<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>
			The Petstore
	</title>

	<style type="text/css">
		body {
		    background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467);
		    background-size: cover;
		    background-position: center; 
		}
		html {
		    width: 100%;
		    height: 100%;
		    font-family: "Lato";
		    color: white;
		}
		h1 {
		    color: white;
			font-weight: 700;
			font-size: 5em;
			padding-top: 25%;
			text-align: center;
		    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		                 0px 8px 13px rgba(0,0,0,0.1),
		                 0px 18px 23px rgba(0,0,0,0.1);
		}
		#content{
			text-align: center;
		    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		                 0px 8px 13px rgba(0,0,0,0.1),
		                 0px 18px 23px rgba(0,0,0,0.1);
		}
	</style>
<head>
		<div class="container">
			<h1> <i>Welcome to the PetStore</i></h1>
			<center>
			<a href="/Pets" class="btn btn-default btn-lg" id="content">View Pets</a>
			<a href="/admin" class="btn btn-default btn-lg" id="content">Admins' Panel</a>
				
			</center>
		</div>
</body>
</html>